body{
    font-family: 'Rubik', sans-serif;
}
.logo {
    width: 200px;
}

ul li a:hover{
    transform: scale(1.25);
    transition: 0.5s;
}
#hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/bg-hero2.0.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#hero h1{
    color: #ffffff;
    font-size: 4rem;
    text-align: center;
    font-weight: 400;    
}
 #about .avatar{
    width: 300px;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
 }
 .card:hover{
    transform: scale(1.05);
    transition: 0.5s;
 }

 .progress {
    height: 10px;
}
